@import "tailwindcss";

@font-face {
  font-family: "Roboto Slab";
  src: url("/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto Slab", serif;
}
