---
import AboutContent from "../../../README.md";
import GradiantTitle from "../layouts/GradiantTitle.astro";
---

<div class="about text-white">
  <GradiantTitle>¿Que es Bytes Colaborativos?</GradiantTitle>
  <AboutContent />
</div>
