<footer class="h-auto p-5 bg-black flex items-center justify-center">
  <ul class="text-white w-full flex flex-col items-center">
    <li>Email: carlosvassan@gmail.com</li>
    <li>© 2025 Carlos Vásquez Sánchez</li>
  </ul>
</footer>
