<footer class="h-auto p-5 bg-black flex items-center justify-center">
  <ul class="text-white w-full flex flex-col items-center text-xs">
    <li>Email: carlosvassan@gmail.com</li>
    <li>© {new Date().getFullYear()} Carlos Vásquez Sánchez</li>
  </ul>
</footer>
