<header class="w-full bg-green-400 flex items-center justify-center relative">
  <h1
    class="font-extrabold text-3xl md:text-5xl text-white drop-shadow-lg m-3 my-6 md:m-6 tracking-wide animate-fade-in"
  >
    Proyectos Colaborativos
  </h1>
  <a href="https://github.com/karlosvas/bytes-colaborativos" target="_blank">
    <div class="absolute right-5 group">
      <img src="svg/github-mark-white.svg" alt="logo github" class="w-6 h-6 block group-hover:hidden" />
      <img src="svg/github-mark.svg" alt="logo github hover" class="w-6 h-6 hidden group-hover:block" />
    </div>
  </a>
</header>
