<header class="w-full bg-green-400 flex items-center justify-center">
  <h1
    class="font-extrabold text-4xl md:text-5xl text-white drop-shadow-lg m-3 my-6 md:m-6 tracking-wide animate-fade-in"
  >
    Proyectos Colaborativos
  </h1>
</header>
