<main class="h-auto w-full bg-gradient-to-b from-black via-gray-800 to-gray-900 flex items-center justify-center p-20">
  <div class="flex flex-col w-1/2 items-center justify-center">
    <img src="ordering-system.png" alt="" class="m-3 max-w-2xl" />
    <img src="coworking-space.png" alt="" class="m-3 max-w-2xl" />
    <img src="listado-tareas.png" alt="" class="m-3 max-w-2xl" />
  </div>
</main>
