---
import GradiantTitle from "../layouts/GradiantTitle.astro";
---

<section class="py-52">
  <GradiantTitle>Primer puesto&nbsp;👑</GradiantTitle>
  <img src="ganadores.webp" alt="" class="w-full" />

  <GradiantTitle>Segundo puesto</GradiantTitle>
  <img src="segundo.webp" alt="" class="w-full" />

  <GradiantTitle>Tercer puesto</GradiantTitle>
  <img src="tercero.webp" alt="" class="w-full" />
</section>
